<style>
.floater {
float:left; clear:none;
margin:1em;
}
a.button {
  background: rgb(230, 126, 23);
  padding: 0.25em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.25em;
}
a.intro {
  background: rgb(170,170,170);
}
a.intro:hover {
  background: rgb(230,230,230);
}
a.intro:active {
  background: rgb(100,100,100);
}
a.button:hover {
  background: rgb(245, 152, 66);
}
a.button:active {
  background: rgb(214, 127, 47);
}
a.programme {
  background: rgb(138, 202, 255);  
}
a.programme:hover {
  background: rgb(153, 209, 255);  
}
a.programme:active {
  background: rgb(102, 186, 255);  
}
a.logistics {
  background: rgb(245, 152, 66); 
}
a.logistics:hover {
  background: rgb(255, 203, 255);  
}
a.logistics:active {
  background: rgb(195, 102, 26);  
}
a.participants {
    background: rgb(75, 201, 32);
}
a.participants:hover {
    background: rgb(1, 200, 100);
}
a.participants:active {
  background: rgb(150, 255, 150);  
}
a.resources {
    background: rgb(207, 63, 6);
}
a.resources:hover {
    background: rgb(219, 142, 112);
}
a.resources:active {
  background: rgb(135, 104, 92);
}
#top {
  clear: both;
width: auto;
margin-left: auto;
margin-right: auto;
margin-top: 0.5em;
margin-bottom: 1em;
}
.updates {
font-size: 11pt;
color: gray;
}
</style>

<div id='top' align="left">
<a href="https://cambridge-iccs.github.io/summerschool"
  class="button intro">Introduction</a>
<a href="https://cambridge-iccs.github.io/summerschool-programme.html"
  class="button programme">Programme</a>
<a href="https://cambridge-iccs.github.io/summerschool-logistics.html"
  class="button logistics">Logistics</a>
<a href="https://cambridge-iccs.github.io/summerschool-participants.html"
  class="button participants">Participants</a>
<a href="https://cambridge-iccs.github.io/summerschool-resources.html"
  class="button resources">Resources</a>
</div>

<div class="updates">
  <b>Latest updates</b>

  <ul>
    <li>21/09/2022 - Added hackathons signup in programme (under Friday) and added restaurant recommendations to logistics</li>
    <li>20/09/2022 - Punting location + map added. Information about Thursday wine tasting social tomorrow at 5:30pm.</li>
    <li>19/09/2022 - Updated time of departure for walking group
    from Jesus College to Maths, 08:15am. Added link for signups for
    1-1 chats with RSEs.</li>
    <li>18/09/2022 - Code-of-conduct added to logistics. Resources
  tab added.
    </li></ul>

</div>
