<style>

.floater {
float:left; clear:none;
margin:1em;
}
a.button {
  background: rgb(230, 126, 23);
  padding: 1em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: block-level;
  margin-top: 3em;
  margin-bottom: 1em;
  clear: right;
}
a.intro {
  background: rgb(170,170,170);
}
a.intro:hover {
  background: rgb(230,230,230);
}
a.intro:active {
  background: rgb(100,100,100);
}
a.button:hover {
  background: rgb(245, 152, 66);
}
a.button:active {
  background: rgb(214, 127, 47);
}
a.programme {
  background: rgb(138, 202, 255);  
}
a.programme:hover {
  background: rgb(153, 209, 255);  
}
a.programme:active {
  background: rgb(102, 186, 255);  
}
a.logistics {
  background: rgb(202, 138, 255);  
}
a.logistics:hover {
  background: rgb(209, 153, 255);  
}
a.logistics:active {
  background: rgb(186, 102, 255);  
}
a.participants {
    background: rgb(1, 148, 55);
}
a.participants:hover {
    background: rgb(1, 200, 100);
}
a.participants:active {
  background: rgb(150, 255, 150);  
}
# top {
   clear: both;
   width: 100%;
}
</style>

<div id='top'>
<a href="https://cambridge-iccs.github.io/summerschool"
  class="button floater intro">Introduction</a>
<a href="https://web.miniextensions.com/FYT8fFDcuuDlvWEN6Cdg"
  class="button floater">Register</a>
<a href="https://web.miniextensions.com/FYT8fFDcuuDlvWEN6Cdg" class="button floater">Register</a>
<a href="https://cambridge-iccs.github.io/summerschool-programme.html" class="button floater programme">Programme</a>
<a href="https://cambridge-iccs.github.io/summerschool-logistics.html"
class="button floater logistics">Logistics</a>
<a href="https://cambridge-iccs.github.io/summerschool-logistics.html"
class="button floater logistics">Participants</a>
</div>

